@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grey+Qo&family=Kalnia+Glaze:wght@100..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono", monospace;
}
body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}
header{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0x;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 1px solid bisque
    
}
header ul{
    display: flex;
    justify-content: space-around;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-size: small;
}
i{
    margin: 5px;
}
header ul li a:hover{
    cursor: pointer;
    color: rgb(11, 8, 121);
    
    
}
header img{
    width: 40px;
    height: 40px;
    border: 5px;
    border-radius: 50%;
    border-color: cornsilk;
}


#banner{
    width: 100%;
    height: 600px;
}
#welcome{
    position: absolute;
    top: 30%;
    left: 40%;
    border: 10px double rgb(217, 211, 212);
    padding: 30px;
}
#content{
    width: 100%;
    height: 600px;
    
}
.row{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
    margin-top: 40px;

}
.col1{
   padding: 40px;
}
.col p{
   text-align: justify;
   margin-top: 30px;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .cls{
    width: 200px;
    border: 2px solid;
    padding: 10px;
    border-radius: 20px;
  }
  img{
    
  }
  h3{
    margin-top: 20px;
    text-align: center;
  }
  .contact{
    width: 100%;
    height: 400px;
    border: 2px solid;
    
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 40px;

  }
  .contact h1{
    color: black;
    margin-top: 20px;
  }
  .contact form{
    width: 100px;
    height: 200px;
    
    border-color: black;
    margin-left: 670px;
  }